<div *ngIf="!webapplication">
  <app-navbar></app-navbar>
  <br /><br />
  <div style="height:10px;"></div>
  <div [@routeAnimations]="prepareRoute(outlet)" class="container" style="position:relative;">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <br /><br />
  <br /><br />
  <app-footer></app-footer>
</div>
<div *ngIf="webapplication">
  <router-outlet></router-outlet>
</div>

<!-- <div class="container p-4">
  <div class="row">
    <div class="col text-center">
      <a (click)="changeState('a')" class="btn btn-danger">Change To State A</a>
    </div>
    <div class="col text-center">
      <a (click)="changeState('b')" class="btn btn-danger">Change To State B</a>
    </div>
    <div class="col text-center">
      <a (click)="changeState('c')" class="btn btn-danger">Change To State C</a>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <app-animate [stateSelector]="stateSelector"></app-animate>
  </div>
</div> -->
