<div *ngIf="!webapplication">
  <app-navbar></app-navbar>
  <div [ngStyle]="getStyle()">
    <br>
    <h1>
      <span *ngIf="!isScreenSmall()">Nathan&nbsp;Gawith&nbsp;|&nbsp;</span>
      <span *ngIf="pageName">{{ pageName }}</span>
      <span *ngIf="!pageName" style="color:#AAAAAA;">.</span>
    </h1>
    <mat-divider>&nbsp;</mat-divider>
    <br>
  </div>
  <div [@routeAnimations]="prepareRoute(outlet)" [ngStyle]="getStyle()">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <br /><br />
  <br /><br />
  <!-- <app-footer></app-footer> -->
</div>
<div *ngIf="webapplication">
  <router-outlet></router-outlet>
</div>
