<br />
<div class="row">
  <div class="col-6">
    Attendance:
  </div>
  <div class="col-6">
    <input type="text" [(ngModel)]="attendanceGrade" />
  </div>
</div>
<div class="row">
  <div class="col-6">
    Homework:
  </div>
  <div class="col-6">
    <input type="text" [(ngModel)]="homeworkGrade" />
  </div>
</div>
<div class="row">
  <div class="col-6">
    Lab:
  </div>
  <div class="col-6">
    <input type="text" [(ngModel)]="labGrade" />
  </div>
</div>
<div class="row">
  <div class="col-6">
    Exam1:
  </div>
  <div class="col-6">
    <input type="text" [(ngModel)]="exam1Grade" />
  </div>
</div>
<div class="row">
  <div class="col-6">
    Exam2:
  </div>
  <div class="col-6">
    <input type="text" [(ngModel)]="exam2Grade" />
  </div>
</div>
<div class="row">
  <div class="col-6">
    Exam3:
  </div>
  <div class="col-6">
    <input type="text" [(ngModel)]="exam3Grade" />
  </div>
</div>
<div class="row">
  <div class="col-6">
    Exam4:
  </div>
  <div class="col-6">
    <input type="text" [(ngModel)]="exam4Grade" />
  </div>
</div>
<div class="row">
  <div class="col-6">
    Exam5:
  </div>
  <div class="col-6">
    <input type="text" [(ngModel)]="exam5Grade" />
  </div>
</div>
<div class="row">
  <div class="col-6">
    Percentage you want in the Class:
  </div>
  <div class="col-6">
    <input type="text" [(ngModel)]="goal" />
  </div>
</div>
<div style="height:10px;"></div>
<div class="row">
  <div class="col-7">
    &nbsp;
  </div>
  <div class="col-5">
    <button type="button" class="btn" (click)="calculate()">Submit</button>
  </div>
</div>
<p [innerHtml]="label"></p>
<p [innerHtml]="error" class="w3-text-red"></p>
