<!--Applications-->
<div *ngIf="apps.length == 0">
  <br />
  <div *ngFor="let page of subpages">
    <mat-card class="mat-elevation-z4">
      <h1>{{ page.name }}</h1>
      <span [innerHTML]="page.description"></span>
      <a class="hyperlink w3-hover-text-purple" [routerLink]="[page.link]">here</a>.
      <br />
      <span *ngFor="let app of page.apps; let i = index">
        <a *ngIf="page.name.toUpperCase().startsWith('JAVA')" (click)="openJavaApp(app)"
          class="hyperlink w3-hover-text-purple">{{ app.name }}</a>
        <a *ngIf="page.name.toUpperCase().startsWith('WEB')" (click)="openWebApp(app, true)"
          class="hyperlink w3-hover-text-purple">{{ app.name }}</a>
        <a *ngIf="page.name.toUpperCase().startsWith('ANDROID')" (click)="openAndroidApp(app)"
          class="hyperlink w3-hover-text-purple">{{ app.name }}</a>
        <span *ngIf="i !== page.apps.length - 1 && i != page.apps.length - 2">, </span>
        <span *ngIf="i === page.apps.length - 2">, and </span>
        <span *ngIf="i === page.apps.length - 1">. </span>
      </span>
    </mat-card>
    <br />
  </div>
</div>
<!--/Applications-->

<!--Applications/Subpage-->
<div *ngIf="!webAppOpen && pageName != null">
  <h1>{{ pageName }}</h1>
  <div *ngFor="let app of apps">
    <mat-card class="mat-elevation-z4">
      <h3>{{ app.name }}</h3>
      <span [innerHtml]="app.description"></span>
      <br />
      <span *ngIf="pageName.toUpperCase().startsWith('JAVA')">
        <b>Download</b>&nbsp;
        <a class="hyperlink w3-hover-text-purple" (click)="openJavaApp(app)">{{ app.name }}</a>
      </span>
      <span *ngIf="pageName.toUpperCase().startsWith('WEB')">
        <b>Go to</b>&nbsp;
        <a class="hyperlink w3-hover-text-purple" (click)="openWebApp(app, true)">{{ app.name }}</a>
      </span>
      <span *ngIf="pageName.toUpperCase().startsWith('ANDROID')">
        <b>Download</b>&nbsp;
        <a class="hyperlink w3-hover-text-purple" (click)="openAndroidApp(app)">{{ app.name }}</a>
      </span>
    </mat-card>
    <br />
  </div>
</div>
<!--/Applications/Subpage-->

<!--Applications/Subpage/App-->
<div *ngIf="webApp">
  <br />
  <mat-card class="mat-elevation-z4">
    <div *ngIf="webApp">
      <app-iframe-app *ngIf="useIFrame(webApp.file)" [src]="webApp.file"></app-iframe-app>
      <app-betting-calculator *ngIf="webApp.selector === 'app-betting-calculator'"></app-betting-calculator>
      <app-dto-convert *ngIf="webApp.selector === 'app-dto-convert'"></app-dto-convert>
      <app-final-grade-calculator *ngIf="webApp.selector === 'app-final-grade-calculator'"></app-final-grade-calculator>
      <app-group-creator *ngIf="webApp.selector === 'app-group-creator'"></app-group-creator>
      <app-html-sandbox *ngIf="webApp.selector === 'app-html-sandbox'"></app-html-sandbox>
      <app-multiplication-table *ngIf="webApp.selector === 'app-multiplication-table'"></app-multiplication-table>
      <app-root *ngIf="webApp.selector === 'app-root'"></app-root>
      <app-say2 *ngIf="webApp.selector === 'app-say2'"></app-say2>
      <app-typing-test *ngIf="webApp.selector === 'app-typing-test'"></app-typing-test>
    </div>
  </mat-card>
  <br />
  <mat-card class="mat-elevation-z4">
    {{appDescription}}
  </mat-card>
</div>
<!--Applications/Subpage/App-->
