<nav class="navbar">
  <ul class="navbar-nav">
    <li class="logo">
      <a class="nav-link" (click)="goTo('/home')" style="cursor:pointer;">
        <img src="assets/svg/ng_icon_cutout.svg" />
        <span class="link-text">NathanGawith</span>
      </a>
    </li>
    <li *ngFor="let page of pages" class="nav-item">
      <a class="nav-link" (click)="goTo(page.link)" style="cursor:pointer;">
        <img [src]="'assets/svg/' + page.svg + '.svg'" />
        <span class="link-text">{{ page.name }}</span>
      </a>
    </li>
  </ul>
</nav>
