<div *ngIf="loading" class="page-tabs">
  <div class="skeleton page-tab-skeleton" *ngFor="let tab of skeletonTabs"></div>
</div>
<div class="video-grid" *ngIf="loading">
  <mat-card class="mat-elevation-z4 video-card" *ngFor="let card of skeletonCards">
    <div class="skeleton" style="height: 22px; width: 60%; margin-bottom: 12px;"></div>
    <div class="video-media skeleton"></div>
    <div class="skeleton" style="height: 14px; width: 90%; margin-top: 12px;"></div>
    <div class="skeleton" style="height: 14px; width: 70%; margin-top: 6px;"></div>
  </mat-card>
</div>

<ng-container *ngIf="!loading">
<div class="page-tabs">
  <div *ngFor="let tab of pageTabs" class="page-tab" [class.page-tab-active]="activeTab === tab.key"
    (click)="selectTab(tab.key)">
    {{ tab.label }}
  </div>
</div>

<div *ngFor="let group of videoGroups" class="tab-content" [hidden]="activeTab !== group.category">
  <div class="video-grid">
    <mat-card class="mat-elevation-z4 video-card" *ngFor="let video of group.videos"
      [id]="videoElementId(video.title)" [class.highlight-pulse]="video.title === highlightedVideoTitle">
      <h3>{{ video.title }}</h3>
      <div class="video-media">
        <img *ngIf="!video.enabled" [src]="video.preview" (click)="btnThumbnail(video)"/>
        <iframe *ngIf="video.enabled" [src]="video.link" frameborder="1" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
      <p>{{ video.description }}</p>
      <p>Click <a [href]="getYoutubeLink(video.link)">here</a> to watch on Youtube.</p>
      <p *ngIf="video.linkedProject">
        <a [routerLink]="['/github-projects']" [queryParams]="{ project: video.linkedProject }">
          View the code &rarr;
        </a>
      </p>
    </mat-card>
  </div>
</div>
</ng-container>
