<div class="video-grid">
  <mat-card class="mat-elevation-z4 video-card" *ngFor="let video of videos">
    <h3>{{ video.title }}</h3>
    <div class="video-media">
      <img *ngIf="!video.enabled" [src]="video.preview" (click)="btnThumbnail(video)"/>
      <iframe *ngIf="video.enabled" [src]="video.link" frameborder="1" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
    </div>
    <p>{{ video.description }}</p>
    <p>Click <a [href]="getYoutubeLink(video.link)">here</a> to watch on Youtube.</p>
  </mat-card>
</div>
