<mat-card class="mat-elevation-z4">
  <div>
    <h1>
      Welcome!
    </h1>
    <mat-divider></mat-divider>
    <p>
      This is a website I put together to feature work I have done on
      various applications including
      <a (mouseup)="openPage($event, 'applications/java')" class="hyperlink w3-hover-text-purple">Java Applications</a>,
      <a (mouseup)="openPage($event, 'applications/web')" class="hyperlink w3-hover-text-purple">Web Applications</a>,
      and
      <a (mouseup)="openPage($event, 'applications/android')" class="hyperlink w3-hover-text-purple">Android
        Applications</a>.
      I also have a few videos that I made that are featured
      <a (mouseup)="openPage($event, 'videos')" class="hyperlink w3-hover-text-purple">here</a>.
    </p>
    <mat-divider></mat-divider>
    
    <p>
      I love coding becuase I love learning, and enjoy thinking through logical problems.
      Writing code can present many opportunities to dive deep into how different things work, whether that be related to sofware, mathematics, or the field that the application you are writing deals with.
      The first programming language I learned was Java through
      <a (mouseup)="openLink($event, 'https://www.firstinspires.org/robotics/frc')"
        class="hyperlink w3-hover-text-purple">FRC</a>
      in high school. This experience in robotics was great, and made me
      realize that Computer Science could be a possible career path that I
      could enjoy.
    </p>
    <p>
      I am a graduate of the
      <a (mouseup)="openLink($event, 'https://sce.umkc.edu/')" class="hyperlink w3-hover-text-purple">School of
        Computing and Engineering</a>
      at <a (mouseup)="openLink($event, 'https://www.umkc.edu/')" class="hyperlink w3-hover-text-purple">UMKC</a>
      with a bachelor's degree in Computer Science with an emphasis in Software Engineering and a Mathematics Minor.
      Currently, I am working as a Software Engineer at 
      <a (mouseup)="openLink($event, 'https://wellsky.com/')" class="hyperlink w3-hover-text-purple">WellSky</a>.
    </p>
    <p *ngIf="languageLinks && toolLinks">
      I have experience coding in many different languages including
      <app-list-of-links [links]="languageLinks" (click)="openLink($event.key, $event.value)"></app-list-of-links>.
      Some of the resources I use most often to learn coding on my own are
      <app-list-of-links [links]="toolLinks" (click)="openLink($event.key, $event.value)"></app-list-of-links>.
    </p>
    <p *ngIf="youtubeLinks">
      Some of my favorite youtube channels include
      <app-list-of-links [links]="youtubeLinks" (click)="openLink($event.key, $event.value)"></app-list-of-links>.
    </p>
    <mat-divider></mat-divider>
    <div *ngIf="friendLinks">
      <h3>Check out Some of my Friend's websites:</h3>
      <app-list-of-links [links]="friendLinks" (click)="openLink($event.key, $event.value)"></app-list-of-links>
      all have websites where you can download or use software as well!
    </div>
  </div>
</mat-card>
