<p>Please enter a list of Names separated by commas:
  <br>
  (ex: <b>Steve Jobs,Bill Gates,Stephen Hawking,Morgan Freeman</b>)
  <br>
  <input type="text" [(ngModel)]="list" (change)="generateList()" (keyup)="generateList()" size="50%" placeholder="Steve Jobs,Bill Gates,Stephen Hawking,Morgan Freeman">
</p>
<p>
  Number of people per group:<br>Random Number between
  <input type="number" [(ngModel)]="minPeople" (change)="generateList()" (keyup)="generateList()" value="1" /> and
  <input type="number" [(ngModel)]="maxPeople" (change)="generateList()" (keyup)="generateList()" value="3" />
</p>
<p>
  <button type="button" class="btn" (click)="generateList()">Submit</button>
</p>
<p [innerHtml]="output"></p>
