/* You can add global styles to this file, and also import other style files */
.hyperlink {
    color: #007bff !important;
    cursor: pointer !important;
}

.hyperlink:hover {
    text-decoration: underline;
}